# bot on/off
enable_BotSearch   = 1

ignore_WillNotShip = 1
ignore_PriceGreaterThan = 300

send_SMS   = 1
send_Email = 1

search_Airplanes   = 1
search_Engines     = 1
search_Fuel_jets   = 1
search_Misc        = 1
search_Free_flight = 1
search_Sail        = 1
search_Electric    = 1
search_FPV         =   0
search_Radio       =   0